.Notifications {
  position: relative;
  border: 3px dashed #e01d3f;
  padding: 10px;
  margin-bottom: 20px;
  width: 450px;
}

.Notifications button img {
  width: 20px;
}

.Notifications p {
  margin: 0;
  margin-top: 15px;
}

[data-priority='default'] {
  color: blue;
}

[data-priority='urgent'] {
  color: red;
}

.menuItem {
  position: absolute;
  top: 0;
  right: 15px;
}
.menuItem p {
  text-align: end;
}
